.card {
  align-items: center;
  background-color: #fec685;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 768px;

  .card__title {
    background-color: #91b1fd;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;

    .card__title__text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 3rem;
    }
  }

  .card__body {
    display: flex;
    width: 100%;
    
    .card__body__info {
      padding: 2rem;
      
      .card__body__info__title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
      }
      .card__body__info__knowledge {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        margin: 1rem;

        .card__body__info__knowledge__list {
          display: flex;
          list-style-type: none;

          .list-item {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 50px;
            width: 50px;
            
            &.list-item--angular {
              background-image: url(../../assets/svg/angular.svg);
            }

            &.list-item--cpp {
              background-image: url(../../assets/svg/cpp.svg);
            }

            &.list-item--css {
              background-image: url(../../assets/svg/css.svg);
            }

            &.list-item--html {
              background-image: url(../../assets/svg/html.svg);
            }

            &.list-item--java {
              background-image: url(../../assets/svg/java.svg);
            }

            &.list-item--js {
              background-image: url(../../assets/svg/js.svg);
            }

            &.list-item--mongo {
              background-image: url(../../assets/svg/mongo.svg);
            }

            &.list-item--db {
              background-image: url(../../assets/svg/db.svg);
            }

            &.list-item--php {
              background-image: url(../../assets/svg/php.svg);
            }

            &.list-item--python {
              background-image: url(../../assets/svg/python.svg);
            }

            &.list-item--react {
              background-image: url(../../assets/svg/react.svg);
            }

            &.list-item--vue {
              background-image: url(../../assets/svg/vue.svg);
            }
          }
        }
      }
    }

    .card__body__profile-picture {
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 150px;
      justify-content: center;
      margin: auto auto;
      overflow: hidden;
      width: 150px;

      .card__body__profile-picture__img {
        width: 150px;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}